<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @document.language %>
</p>

<p>
  <strong>Doc type:</strong>
  <%= @document.doc_type %>
</p>

<p>
  <%= @document.created_at %>
</p>

<p>
  <strong>Image:</strong>
  <% @documentImages.each do |i| %>
    <%= image_tag(i.image) %>
  <% end %>
</p>

<p>
  <strong>Translation</strong>
</p>
<p>
  <%= @translation.number %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
