<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @document.language %>
</p>

<p>
  <strong>Doc type:</strong>
  <%= @document.doc_type %>
</p>

<p>
  <%= @document.created_at %>
</p>

<p>
  <strong>Image:</strong>
  <% @documentImages.each do |i| %>
    <%= image_tag(i.image) %>
  <% end %>
</p>
<!--
<p>
  <strong>Response</strong>
</p>
<p>
  <%= @document.translation %>
</p>

<p>
  <strong>Translation</strong>
</p>
<p>
  <strong>registrationNumber:</strong>
  <%= @translation.registrationNumber %>
</p>
<p>
  <strong>circle:</strong>
  <%= @translation.circle %>
</p>
<p>
  <strong>registeredKeeper:</strong>
  <%= @translation.registeredKeeper %>
</p>
<p>
  <strong>referenceNumber:</strong>
  <%= @translation.referenceNumber %>
</p>
<p>
  <strong>previousRegisteredKeeper:</strong>
  <%= @translation.previousRegisteredKeeper %>
</p>
<p>
  <strong>dateOfPurchase:</strong>
  <%= @translation.dateOfPurchase %>
</p>
<p>
  <strong>numberOfPreviousOwners:</strong>
  <%= @translation.numberOfPreviousOwners %>
</p>
<p>
  <strong>specialNotes:</strong>
  <%= @translation.specialNotes %>
</p>
-->
<div class="content">
	<div class="table">
		<div class="third">
			<p><span class="italic">(logo</span> <span class="strong">DVLA</span> <span class="italic">– Agencja Licencjonowania Kierowców i Pojazdów)</span></p>
		</div>
		<div class="third">
			<p class="center">Numer rejestracyjny</p>
			<p class="smallLine center"><span class="strong fromResult"><%= @translation.registrationNumber %></span></p>
		</div>
		<div class="third">
			<p class="smallLine center"><span class="italic">(napis w białym kole)</span></p>
			<p class="smallLine center"><span class="strong fromResult"><%= @translation.circle %></span></p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="header border center strong">
		<p>Zjednoczone Królestwo Wielkiej Brytanii</p>
		<p>UK</p>
		<p>Dowód Rejestracyjny</p>
	</div>
	<div class="header border center">
		<p class="strong">Wspólnota Europejska</p>
		<p class="italic">Poniżej napisy w różnych językach, w tym w języku polskim: <span class="strong">„Dowód rejestracyjny”</span> -/-</p>
		<p class="strong">Proszę zachować niniejszy Dowód wraz z Uwagami Informacyjnymi (INS160).</p>
	</div>
	<div class="header">
		<div class="border">
		<p>1.  <span class="strong">Zarejestrowany właściciel. -/-</span></p>
		<p class="right strong smallLine">Numer identyfikacyjny dokumentu</p>
		<p class="right strong smallLine fromResult"><%= @translation.referenceNumber %></p>
		<div class="strong">
			<p class="smallLine fromResult"><%= @translation.registeredKeeper%></p>
			
		</div>
		<p class="strong">Zarejestrowany właściciel jest odpowiedzialny za pojazd do czasu aż DVLA zostanie powiadomione o jego sprzedaży/przekazaniu. -/-</p>
		<p>DVLA może ujawniać dane właściciela pojazdu dla rozmaitych prawnych zastosowań prawnych. (Patrz Uwagi Informacyjne INS160). -/-</p>
		</div>
		<div class="border">
			<p>2.  <span class="strong">Poprzedni zarejestrowany właściciel. -/-</span></p>
			<p>[Z.1] <span class="strong">OLIVER LAURENCE FITZGERALD, GRANGE BARN, CRANFORD ROAD, KETTERING, NN15 5JL.</span></p>
			<p>[Z.2] <span class="strong">NABYŁ POJAZD DNIA: 10 08 2008</span></p>
			<p>[Z] LICZBA POPRZEDNICH WŁAŚCICIELI: <span class="strong">3</span></p>
			<p class="fromResult"><%= @translation.previousRegisteredKeeper %></p>
		</div>
		<div class="border">
			<p class="strong">Uwagi specjalne.</p>
			<p class="fromResult">(<%= @translation.specialNotes%>)</p>
		</div>
		

	</div>

</div>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
